
/* HEADER */
.header{
    justify-content: space-between;
    padding: 1.6em;
    img{
        height: 1.4rem;
        margin: 0 .4em;
    }
}
.header__menu{
    position: absolute;
    width: 60%;
    padding: 1.6em;
    top: 0;
    bottom: 0;
    left: -60%;
    transition: transform 350ms;
    z-index: 2;
}
.menu > *{
    margin-bottom: 2em;
    cursor: pointer;
}