
@use 'colors' as color;

// Colors
.c-orange{
    color: color.$orange;
}
.c-pale-orange{
    color: color.$paleOrange;
}
.c-white{
    color: color.$white;
}
.c-blue-100{
    color: color.$lightGrayishBlue;
}
.c-blue-300{
    color: color.$grayishBlue;
}
.c-blue-500{
    color: color.$darkGrayishBlue;
}
.c-blue-900{
    color: color.$darkBlue;
}
.fill-pale-orange{
    fill: color.$paleOrange;
}

// Backgrounds
.bg-orange{
    background-color: color.$orange;
}
.bg-pale-orange{
    background-color: color.$paleOrange;
}
.bg-white{
    background-color: color.$white;
}
.bg-blue-100{
    background-color: color.$lightGrayishBlue;
}
.bg-blue-300{
    background-color: color.$grayishBlue;
}
.bg-blue-500{
    background-color: color.$darkGrayishBlue;
}
.bg-blue-900{
    background-color: color.$darkBlue;
}

.bd-bottom{
    border-bottom: .110em solid color.$darkGrayishBlue;
}

// Text
.text-justify{
    text-align: justify;
}
.text-center{
    text-align: center;
}

// Font-size

.fz-xsmall{
    font-size: .6rem;
}
.fz-100{
    font-size: clamp(1rem, 5vw, 1.3rem);
}
.fz-200{
    font-size: clamp(1.3rem, 5vw, 1.7rem);
}
.fz-300{
    font-size: clamp(1.5rem, 7vw, 3rem);
}

// Font-weight
.fw-300{
    font-weight: 200;
}
.fw-600{
    font-weight: 600;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}

// Grid
[class*='grid-']{
    display: grid;
    gap: 1em;
}
.grid-auto-flow{
    grid-auto-flow: column;
    align-items: center;
}
.grid-auto-row{
    grid-auto-flow: row;
}
.grid-even-columns-300{
    grid-template-columns: repeat(auto-fit, minmax(min(28rem, 100%), 1fr));
    gap: clamp(1rem, 4vw, 6rem);
}
.grid-even-columns-100{
    grid-template-columns: repeat(auto-fit, minmax(min(13rem, 100%), 1fr));
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pointer{
    cursor: pointer;
}