
@use 'header';
@use 'images-carousel';
@use 'main-content';
@use 'utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    line-height: 1.6;
}
.main{
    position: relative;
    overflow: hidden;
    padding: 0 0 6rem 0;
}
[data-main-state="disable"]::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: hsl(10, 0%, 1%, 50%);
    z-index: 1;
}
.icon{
    cursor: pointer;
}
.relative{
    position: relative;
}
.cart{
    position: absolute;
    background-color: goldenrod;
    height: 50px;
    border-radius: .50em;
    top: 140%;
    right: 0;
    z-index: 2;
    p{
        padding: .2em 01em;
        border-bottom: .125em solid blue;
    }
}
[data-display-arrow = "hidden"]{
    display: none;
}
[data-shop-cart-state = "hidden"]{
    display: none;
}
@media screen and (min-width:900px){

    [data-name = 'toggleMenu']{
        display: none;
    }
    .header{
        margin: 0 6em 4em 6em;
        padding: 3em 0;
    }
    .header__menu{
        position: inherit;
        width: auto;
        padding: 0;
        transform: none !important;
        transition: 0s;
    }
    .menu{
        display: flex;
        gap: 1em;
        align-items: center;
    }
    .menu__item{
        margin: 0;
    }
    .content{
        padding: 0 max(2rem, 12%);
        align-items: center;
    }
    .carousel{
        width: 100%;
        height: fit-content;
    }
    .carousel__arrow{
        display: none;
    }
    .slider{
        grid-auto-columns: 1fr;
        transition: 0ms;
    }
    .preview{
        margin-bottom: 1rem;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            border-radius: 1em;
        }
    }
    .slide{
        position: initial;
        border-radius: 1em;
        overflow: hidden;
        cursor: pointer;
    }
    [data-slide-order='currentSlide']{
        border: .2em solid orange;
        filter: opacity(.6);
    }
    [data-main-state]::before{
        display: none;
    }
}