@use 'header';
@use 'main-content';
@use 'utilities';
@use 'components';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    line-height: 1.6;
}
.main{
    overflow: hidden;
    padding: 0 0 6rem 0;
}
[data-main-state="disable"]::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: hsl(10, 0%, 1%, 50%);
    z-index: 1;
    @media only screen and (min-width: 900px){
        display: none;
    }
}
[data-display-arrow = "hidden"]{
    display: none;
}
[data-shop-cart-state = "hidden"]{
    display: none;
}
@media screen and (min-width:900px){
    .menu__icon{
        display: none;
    }
    .header{
        height: 8rem;
        margin: 0 6em 4em 6em;
        padding: 0;
    }
    .header--left{
        height: 100%;
    }
    .header__menu{
        position: inherit;
        width: auto;
        height: 100%;
        padding: 0;
        transform: none !important;
        transition: 0s;
    }
    .menu{
        display: flex;
        gap: .8em;
        height: 100%;
        &__item{
            height: 100%;
            margin: 0;
        }
    }
    .content{
        padding: 0 max(2rem, 12%);
        align-items: center;
    }
    .carousel{
        width: 100%;
        height: fit-content;
        &__arrow{
            display: none;
        }
    }
    .slider{
        grid-auto-columns: 1fr;
        transition: 0ms;
    }
    .slide{
        position: initial;
        border-radius: 1em;
        overflow: hidden;
        cursor: pointer;
        &--preview{
            margin-bottom: 1rem;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
                border-radius: 1em;
            }
        }
    }
    [data-slide-order='currentSlide']{
        border: .2em solid orange;
        opacity: .6;
    }
    .shopcart{
        position: relative;
    }
    .cart{
        top: 120%;
        left: calc(-8rem - 2%);
        right: calc(-8rem - 2%);
    }
}