/* HEADER */
.header {
  padding: 1.6em;
}

.header--left {
  grid-auto-columns: 1fr 3fr;
  height: 2.5rem;
}

.header--rigth {
  height: 2.5rem;
}
.header--rigth > * {
  height: 100%;
}

.header__menu {
  position: absolute;
  width: 60%;
  padding: 1.6em;
  top: 0;
  bottom: 0;
  left: -60%;
  transition: transform 350ms;
  z-index: 2;
}

.menu > * {
  margin-bottom: 2em;
}

.menu__icon {
  width: fit-content;
  height: 1.8rem;
}
.menu__icon img {
  height: 100%;
}

.logo {
  width: fit-content;
  height: 1.8rem;
}
.logo img {
  height: 100%;
}

.login {
  width: 2.5rem;
  border-radius: 50%;
  margin-left: auto;
}
.login img {
  width: 100%;
  height: 100%;
}

[data-name=toggleMenu] {
  height: 100%;
}

/* CAROUSEL */
.carousel {
  isolation: isolate;
  width: 100vw;
  height: 100vw;
}

.carousel__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 1.4em;
  display: grid;
  place-items: center;
  z-index: 2;
}
.carousel__arrow img {
  width: 0.5rem;
  height: 0.5rem;
}

.arrow-previous {
  left: 5%;
}

.arrow-next {
  right: 5%;
}

.slider {
  width: 100%;
  height: 100%;
  isolation: isolate;
  transition: transform 500ms;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.slide img {
  width: 100%;
  height: 100%;
}

/* MAIN-CONTENT */
.description {
  padding: 1em;
}

.description__brand {
  margin-bottom: 1em;
}

.description__text {
  margin: 1em 0;
}

.description__price {
  justify-content: space-between;
}

.price__discount {
  padding: 0.4em;
  border-radius: 0.25em;
}

.price__old {
  text-decoration: line-through;
}

.buy {
  margin-block: 1rem;
}

.buy__amount {
  padding: 0.4em;
  justify-content: space-between;
}

.button {
  display: flex;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  cursor: pointer;
}

.shopcart__icon {
  height: 100%;
  width: fit-content;
}
.shopcart__icon img {
  height: 60%;
}

.cart {
  position: absolute;
  border-radius: 0.5em;
  top: 6rem;
  left: 5%;
  right: 5%;
  z-index: 2;
  box-shadow: 0 0 2rem 0 hsl(220deg, 14%, 75%);
}

.cart__title {
  padding: 0.6em 1em;
  border-bottom: 0.125em solid hsl(220deg, 13%, 13%);
}

[data-shop-cart-container=empty] {
  padding-block: 4em;
}

[data-shop-cart-container=fill] {
  padding: 1em;
}

.cart__content > * figure {
  width: 4rem;
  height: 4rem;
}
.cart__content > * figure img {
  width: 100%;
  height: 100%;
}

.shopcart--span {
  position: absolute;
  border-radius: 0.25em;
  padding: 0.15em 0.5em;
  top: 0;
  right: 0;
  display: none;
}

.c-orange {
  color: hsl(26deg, 100%, 55%);
}

.c-pale-orange {
  color: hsl(25deg, 100%, 94%);
}

.c-white {
  color: hsl(0deg, 0%, 100%);
}

.c-blue-100 {
  color: hsl(223deg, 64%, 98%);
}

.c-blue-300 {
  color: hsl(220deg, 14%, 75%);
}

.c-blue-500 {
  color: hsl(219deg, 9%, 45%);
}

.c-blue-900 {
  color: hsl(220deg, 13%, 13%);
}

.fill-pale-orange {
  fill: hsl(25deg, 100%, 94%);
}

.bg-orange {
  background-color: hsl(26deg, 100%, 55%);
}

.bg-pale-orange {
  background-color: hsl(25deg, 100%, 94%);
}

.bg-white {
  background-color: hsl(0deg, 0%, 100%);
}

.bg-blue-100 {
  background-color: hsl(223deg, 64%, 98%);
}

.bg-blue-300 {
  background-color: hsl(220deg, 14%, 75%);
}

.bg-blue-500 {
  background-color: hsl(219deg, 9%, 45%);
}

.bg-blue-900 {
  background-color: hsl(220deg, 13%, 13%);
}

.bd-bottom {
  border-bottom: 0.11em solid hsl(219deg, 9%, 45%);
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.fz-xsmall {
  font-size: 0.6rem;
}

.fz-100 {
  font-size: clamp(1rem, 5vw, 1.3rem);
}

.fz-200 {
  font-size: clamp(1.3rem, 5vw, 1.7rem);
}

.fz-300 {
  font-size: clamp(1.5rem, 7vw, 3rem);
}

.fw-300 {
  font-weight: 200;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

[class*=grid-] {
  display: grid;
  gap: 1em;
}

.grid-auto-flow {
  grid-auto-flow: column;
  align-items: center;
}

.grid-auto-row {
  grid-auto-flow: row;
}

.grid-even-columns-300 {
  grid-template-columns: repeat(auto-fit, minmax(min(28rem, 100%), 1fr));
  gap: clamp(1rem, 4vw, 6rem);
}

.grid-even-columns-100 {
  grid-template-columns: repeat(auto-fit, minmax(min(13rem, 100%), 1fr));
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.menu__item:where(:focus, :hover) {
  border-bottom: 0.15em solid hsl(26deg, 100%, 55%);
}

.login:where(:focus, :hover) {
  outline: 0.15em solid hsl(26deg, 100%, 55%);
}

.button:where(:focus, :hover) {
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  line-height: 1.6;
}

.main {
  overflow: hidden;
  padding: 0 0 6rem 0;
}

[data-main-state=disable]::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(10deg, 0%, 1%, 0.5);
  z-index: 1;
}

.relative {
  position: relative;
}

[data-display-arrow=hidden] {
  display: none;
}

[data-shop-cart-state=hidden] {
  display: none;
}

@media screen and (min-width: 900px) {
  .menu__icon {
    display: none;
  }
  .header {
    height: 8rem;
    margin: 0 6em 4em 6em;
    padding: 0;
  }
  .header--left {
    height: 100%;
  }
  .header__menu {
    position: inherit;
    width: auto;
    height: 100%;
    padding: 0;
    transform: none !important;
    transition: 0s;
  }
  .menu {
    display: flex;
    gap: 0.8em;
    height: 100%;
  }
  .menu__item {
    height: 100%;
    margin: 0;
  }
  .content {
    padding: 0 max(2rem, 12%);
    align-items: center;
  }
  .carousel {
    width: 100%;
    height: fit-content;
  }
  .carousel__arrow {
    display: none;
  }
  .slider {
    grid-auto-columns: 1fr;
    transition: 0ms;
  }
  .slide--preview {
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .slide--preview img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
  }
  .slide {
    position: initial;
    border-radius: 1em;
    overflow: hidden;
    cursor: pointer;
  }
  [data-slide-order=currentSlide] {
    border: 0.2em solid orange;
    filter: opacity(0.6);
  }
  [data-main-state]::before {
    display: none;
  }
  .shopcart {
    position: relative;
  }
  .cart {
    top: 120%;
    left: calc(-8rem - 2%);
    right: calc(-8rem - 2%);
  }
}

/*# sourceMappingURL=style.css.map */
